/*******************
 * Section Styling *
 *******************/

.project-card a{
    color: #99ddf7;
}

#about, #projects, #teachers {
    background-color: #4830CB;
    background-image: radial-gradient(circle, #9281ee, transparent 11%);
    background-size: 10px 10px;
}


/*************************************
 * Project and Teaching Card Styling *
 *************************************/

.project-card, .teaching-card {
    background-color: #241968;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.project-card:hover, .teaching-card:hover {
    transform: translateY(-5px);
}

.project-card h3, .teaching-card h3 {
    color: #FFFFFF;
}

.project-card p, .teaching-card p {
    color: #E0E0E0;
    margin-bottom: 1rem;
    line-height: 1.75;
}

.project-card p.italic, .teaching-card p.italic {
    font-style: italic;
    color: #d3d3d3;
}

.project-card a, .teaching-card a, footer a{
    color: #77BBD5;
}

.project-card a:hover, .teaching-card a:hover, footer a:hover {
    color: #99ddf7;
}

/****************** 
 * Header Styling *
 ******************/
header {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


#menu, #mobile-menu {
    background-color: #000000;
}


@media (min-width: 768px) {
    #menu {
        display: flex; /* Show the regular menu on screens wider than 768px */
    }

    #mobile-menu {
        display: none; /* Ensure the mobile menu remains hidden on larger screens */
    }
}

.hidden {
    display: none;
}

@media (min-width: 1536px) {
    .container {
        max-width: 100%; /* Override to ensure full width */
    }
}

#mobile-menu a:hover {
    background-color: #2a2c2c;
    color: #df1010;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/****************
* Uncategorized *
*****************/

body, #projects-banner, #teachers-banner, footer {
    background-color: #130857;
    background-image: radial-gradient(circle, #4830CB, transparent 11%);
    background-size: 10px 10px;
}

/*Border between nav bar and menu popup*/
.border-line {
    height: 2px;
    background-color: white;
    margin-bottom: 0px;
}

/* Compensation for sticky header */
html {
    scroll-padding-top: 80px;
}

.active {
    color: #9281ee;
    font-weight: bold;
}
